/*** ACCOUNT VIEW ***/
.orgWrapper {
  margin: 20px;
}

.orgTitle {
  font-size: 16px;
  margin-bottom: 4px;
}

.orgRoles {
  color: #a3a8ab;
}

/*** PROFILE VIEW ***/
.profileWrapper {
  display: flex;
}

.headerWrapper {
  position: relative;
}

.avatarWrapper {
  margin-bottom: 40px;
}

.sidePanelWrapper, .mainPanelWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidePanelWrapper {
  flex: 1 0 0;
  align-items: center;
  position: relative;
}

.mainPanelWrapper {
  flex: 4 0 0;
  margin: 0 20px;
}

.sectionWrapper {
  margin-bottom: 40px;
}

.sectionHeader {
  font-size: 24px;
  margin-bottom: 20px;
}

.sectionContent {
  color: grey;
}

.contentItemLabel {
  font-weight: bold;
  display: inline-block;
  margin-right: 6px;
}

.contentItemDescription {
  display: inline-block;
}
