/*** ACCOUNT VIEW ***/
.orgWrapper {
  margin: 20px;
}

.orgTitle {
  font-size: 16px;
  margin-bottom: 4px;
}

.orgRoles {
  color: #a3a8ab;
}

/*** PROFILE VIEW ***/
.profileWrapper {
  display: flex;
}

.sidePanelWrapper, .mainPanelWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidePanelWrapper {
  flex: 1 0 0;
}

.mainPanelWrapper {
  flex: 2 0 0;
}

.avatarWrapper {

}

.avatar {
  height: 150px;
  width: 150px;
  border: 6px solid grey;
}
